*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

/* header con navbar */

header{
    background-color: white;
    font-size: smaller;
    padding: 10px;
}

.navbar{
    padding:1%;
}

.logo:hover{
    cursor: pointer;
}

.logo{
    padding-right: 10px;
}

ul{
    list-style: none;
}

li{
    padding-left: 20px;
    padding-right: 20px;
}

.sottolineatura:hover{
    text-decoration: underline;
    cursor: pointer;
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#inizia{
    background-color: #0061ff;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    cursor: pointer;
}

#inizia:hover{
    background-color: #3280ff;
}

/* prima sezione/slide */

.sfondo-azur{
    background-color: #b4d0e7;
}

.container-1{
    width: 60%;
    margin: auto;
}

.titolo{
    margin: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}

.titolo-style{
    font-size: 350%;
    font-family: 'Open Sans', sans-serif;
}

.centra{
    margin: auto;
}

.img-jumbo{
    width: 100%;
}

.scritta-sinistra{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    width: 40%;
}

.container-txt-jumbo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

#arrow{
    width: 100px;

}

.scritta-sinistra-list{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
    padding-top: 5%;
}



/* piani tariffari */

.container-2{
    width: 55%;
    margin: auto;
    margin-top: 10%;
}

.fatturazioni-txt{
    padding-left: 5%;
}

.fatturazioni-txt-cont{
    padding-top: 5%;
}

.pallini-cont{
    display: inline;
}

.pallini{
    margin-left: 10%;
}

/* card */

.mar-top5{
    margin-top: 10%;
}

.professional{
    width: 30%;
}


.categories{
    text-align: center;
    border: solid rgb(168, 168, 168);
    border-width: 1px;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.descriprion{
    border: solid rgb(168, 168, 168);
    border-width: 1px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 1200px;
}

.item{
    margin-top: 10%;
}

.item1{
    margin-top: 30%;
}

.linea{
    width: 30%;
    height: 1px;
    background-color: rgb(168, 168, 168);
}

.blue{
    color: #0061ff;
}

/* quarta cards----- */

.container-3{
    width: 55%;
    margin: auto;
    margin-top: 2%;
}

.categories1{
    text-align: center;
    border: solid rgb(168, 168, 168);
    border-width: 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.description1{
    border: solid rgb(168, 168, 168);
    border-width: 1px;
    padding: 3%;
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.qrt-cards-size{
    width: 60%;
}

.qrt-cards-size1{
    width: 30%;
}

.button-blue{
    background-color: #0061ff;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    cursor: pointer;
}

.button-blue:hover{
    background-color: #3280ff;
}

.item2{
    padding-top: 5%;
}  

/* partner----------------- */

.size-55{
    width: 55%;
    margin: auto;
    padding-top: 5%;
}

.size-50{
    width: 50%;
}

.size-40{
    width: 40%;
    padding-top: 4%;
}

.img-partner{
    width: 100%;
}

.white-button{
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    cursor: pointer;
}


.white-button:hover{
    background-color: #f0f0f0;
}
/* DROPBOX BUSINESS */





/* fascia blu---------- */

.titolo-rosso{
    color: #61082b;
    width: 40%;
}

.poor-whitebutton{
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    cursor: pointer;
}

.poor-whitebutton:hover{
    background-color: #f0f0f0;
}

.size-30{
    width: 30%;
}

.padding-bottom{
    padding-bottom: 5%;
}

.linea1{
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
}

.size-55-1{
    width: 55%;
    margin: auto;
    padding-top: 2%;
}

.angle{
    padding-right: 5%;
}